__pycache__/
.ipynb_checkpoints/

data/
datasets/
embeddings/
best_model/
punc_model/
outputs/
checkpoints/

*.zip
*.rar
*.7z

*.pkl
*.pt
*.pth
*.bin
*.safetensors
*.h5
*.keras

.env
.DS_Store
.vscode/
.idea/